<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <h1>Product list</h1>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Cost</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.cost}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/products/delete/' + ${p.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-outline-primary mt-3" th:href="@{/products/add}">Add product</a>
</div>
</body>
</html>